*{
  font-family: 'Mulish', sans-serief;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;

}

/*header*/
header{
  align-items: center;
  background-color: black;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  justify-content: center;
  margin: auto;

  padding: 13px 85px 13px 85px;
  position: fixed;

  height: 3.5rem;
  width: 100%;
  z-index: 1;
}

.headerButtons{
  display: none;
}

.action{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.action span{
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #AC001C;
  font-size: 2em;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.action.active span{
  transform: rotate(135deg);
}

.action ul{
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border-color: #AC001C;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 55px;
  right: 0px;
  background: #fff;
  min-width: 150px;
  padding: 10px 0px 10px 0px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.action.active ul{
  bottom: 65px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.action ul li{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px 0;
  transition: 0.3s;
}

.action ul li:hover{
  font-weight: 600;
}

.action ul li:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.action ul li img{
  margin-left: 10px;
}

.action ul{
  padding: 10px 10px 10px 10px;
  right: -10px;
}

.action a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

.iconButton{
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-left: 222px;
}

.logoWritten{
  display: block;
  width: 12.8125rem;
  height: 1.875rem;
}

#home{
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(./assets/table.jpg);
  background-position: left center; 
  background-size: cover;
  width: 100%;
  display: inline-block;
  padding: 120px 0px 130px 0px ;
  border-radius: 0px 0px 8px 8px;
}

body{
  display: block;
  width: 100%;
  height: auto;
}

h1{
  color: white;
  
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.8125rem;
  
  margin: auto;
  padding: 0% 4.5% 0% 4.5%;
}

h2{
font-weight: 700;
font-size: 1.5rem;

line-height: 1.875rem;
text-align: center;

margin-top: 64px;
margin-bottom: 16px;
}

h3{
  margin: 24px 0px 24px 0px;
  text-align: center;
}

h4{
  color: white;
  font-size: 12px;
}

p{
font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 1.25rem;
line-height: 1.56rem;

margin-top: 14px;
margin-bottom: 14px;
text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

#pHome{
  color: white;
  text-align: left;
  margin: 100px 27px 80px 27px;
  width: fit-content;
}

button{
background-color: #AC001C;
border-radius: 8px;
border-color: #AC001C;
color: white;

display: block;
margin: auto;

font-weight: 800;
font-size: 24px;

padding: 12px 28px 12px 28px;
}

/*container*/
.container{
  overflow: hidden;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 768px;
  padding-left: 24px;
  padding-right: 24px;
}

/*firstBlock*/
.firstBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 768px;
}

.img1Block1{
  border-radius: 8px 8px 0px 0px;
  max-width: 100% ;
  max-height: 480px;
  border: solid rgb(221, 221, 221) 1px;
}


.bothImgBlock1{ 
  width: 33%;
  min-height: 90px;
  flex-grow: 1;
  border: solid rgb(221, 221, 221) 1px;
}


#family{
  border-radius: 8px 8px 0px 0px;
}

#dog{
  border-radius: 0px 0px 0px 8px ;
}

#place{
  border-radius: 0px 0px 8px 0px;
}

 /*groupImgs2*/
.groupImgs2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
}

.bothImg2{
  background-size: cover;
  object-fit: cover;
  object-position: center center;
  size-adjust: 1;
  flex-grow: 1;
 width: 50%;
 min-height: 280px;
 height: 50%;
}

#team{
  background-image: url(./assets/team.jpg);
  background-position: left center;
  border-radius: 8px 0px 0px 8px;
}

#chef{
  background-image: url(./assets/chef.jpg);
  background-position: center, left ;
  border-radius: 0px 8px 8px 0px;
}

  /*cards*/
.groupCards{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleH4{
  font-size: 14px;
  margin-bottom: 30px 
}

.card{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 64.58%, rgba(0, 0, 0, 0) 100%),;
  background-position: center center;
  background-size: cover;
  border-radius: 8px 8px 8px 8px;
  display: inline-block;
  
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  flex-grow: 1;
  

  margin: 4px;
  padding: 14px 14px 14px 14px;
  text-align: center;
  
  width: 130px;
  height: 164px;
}

.groupOfOwners{
  display: flex;
  margin: auto;
  max-width: 360px;
  align-items: center;
  justify-content: space-between;
}

.kenny{
  display: block;
}

.brayan{
 display: block;
}

.owners{
  width: 150px;
  border-radius: 100%;
}

.container5{
  display: grid;
  margin: auto;
}

.instagram{
  text-align: middle;
}

.socialMedia{
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.social{
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.instagram{
  align-items: center;
  display: flex;
  margin-bottom: 14px;
}

.facebook{
  align-items: center;
  display: flex;
}

.logo{
  height: 34px;
  margin-left: 8px;
}

footer{
display: block;
justify-content: center;
background-color: black;
border-radius: 8px 8px 0px 0px;
color: white;
padding: 30px 16px 24px 16px;
margin-top: 64px;
}


@media screen and (min-width: 425px){
  h1{
    font-size: 2.25rem;
    line-height: 2.8rem;
    padding: 0px 48px 0px 48px;
  }
  #pHome{
    font-size: 1.2rem;
    line-height: 1.65rem;
    padding: 0px 48px 0px 48px;
  }
}

/* tablet */
@media screen and (min-width: 530px) {
  h1{
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0px 48px 0px 48px;
  }
 #pHome{
  font-size: 1.4rem;
  line-height: 2.34rem;
  padding: 0px 48px 0px 48px;
}
}

@media screen and (min-width: 600px)  {

 h2{
   font-size: 1.6rem;
   line-height: 2rem;
 }
 p{
   font-size: 1.3rem;
   line-height: 1.5rem;
 }
 
  .bothImg2{
  border-radius: 16px;
  height: 380px;
 }

 .card{
  border-radius: 8px 8px 8px 8px;
  width: 200px;
  height: 220px; 
 }
.titleH4{
  font-size: 20px;
} 
 h4{
  margin-top: 30px;
  font-size: 18px;
  line-height: 20px;
 }
}
@media screen and (min-width:630px){
  #home{
    height: 100vh;
  }
  h1{
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  #pHome{
    font-size: 1.75rem;
    padding: 0px 24px 0px 24px
  }
  .firstBlock{
    display: flex;
    justify-content: space-between;
  }
 
  .img1Block1{
    width: 30%;
    object-fit: cover;
    object-position: left center;
    height: 350px;
    size-adjust:1;
  }
  .bothImgBlock1{
    width: 30%;
    object-fit: cover;
    object-position: center center;
  
    height: 350px;
    size-adjust:1;
   }
  
   #family{
    border-radius: 8px;
   }
   #dog{
     margin: 0px 8px 0px 8px;
     border-radius: 8px;
   }
   #place{
    border-radius: 8px;
   }
}

@media screen and (min-width: 768px){
  h1{
    font-size: 4rem;
    line-height: 4rem;
  }
  #pHome{
    font-size: 1.90rem;
    padding: 0px 24px 0px 24px
  }
  
  .groupOfOwners{
    display: flex;
    margin: auto;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
  }
  
  .kenny{
    display: block;
  }
  
  .brayan{
   display: block;
  }
  
  .owners{
    width: 225px;
    border-radius: 100%;
  }

  h3{
    font-size: 24px;
  }
}
/*desktop*/
@media screen and (min-width: 1024px){
  .action{
    display: none;
  }
  h1{
    font-size: 4.5rem;
    line-height: 4.5rem;
    margin: 0px;
  }
  #pHome{
    font-size: 1.8rem;
    padding: 0px 24px 0px 24px;
    align-self: center;
  }

  header{
    justify-content: space-between;
    padding: 0px 64px 0px 64px;
  }
  .headerButtons{
    display: inline-flex;
    float: right;
  }
  header li{
    font-size: 18px;
    margin-left: 64px;
  }
  header a:hover{
    color:#c5001b;
    text-decoration: underline; 
  }
}

@media screen and (min-width: 1050px) {
  h1{
    max-width: 900px;
  }
  #pHome{
    max-width: 900px;
  } 
}
